{% extends "base.html" %}
{% from "macros.html" import render_pagination with context %}
{% from "macros.html" import round_float with context %}
{% from "macros.html" import render_toxicity with context %}
{% from "macros.html" import render_toxicity_actions with context %}
{% from "macros.html" import render_toxicity_labels with context %}

{% block content %}

<div class="center">
    <h3><span class="fab fa-github"></span> Issue {{ issueid }}: 
        <a href="https://github.com/{{ issue.owner }}/{{ issue.repo }}/issues/{{ issue.number }}">{{ issue.owner }}/{{ issue.repo }} #{{ issue.number }}</a>
    </h3>
    <div  class="content {{ "toxic" if is_toxic(tissue) else "nontoxic" }}">
        <!-- <h4>{{ issue.title }}</h4> -->
        <blockquote class="blockquote {{ "toxic" if is_toxic(tissue) else "nontoxic" }}">
            <h4>{{ issue.title }}</h4>
            {{ issue.body|markdown }}
        </blockquote>
    </div>
    <p class="classification">{{ "toxic" if is_toxic(tissue) else "nontoxic" }},
        details: {{ render_toxicity(tissue) }}
    </p>
    <div class="content json">
        {{ tissue.toxicity[version] | tojson_pretty }}
    </div>
    <br>
    <p class="classification">Current labels: 
        {{ render_toxicity_labels(toxic_labels, issueid) }}
    </p>
    <!-- <br> -->
    {{ render_toxicity_actions(toxic_label_buttons, issueid) }}
</div>

{% for comment in comments %}
    <div class="center">
        <h4>
            <a href="{{ comment.html_url }}">Comment {{ comment.actual_id }}</a>,
            {{ comment.updated_at }},
            by <a href="{{ comment.user.html_url }}">{{ comment.user.login }}</a>: 
        </h4>
        <div  class="content {{ "toxic" if is_toxic(comment) else "nontoxic" }}">
            <blockquote class="blockquote {{ "toxic" if is_toxic(comment) else "nontoxic" }}">
                {{ comment.body|markdown }}
            </blockquote>
        </div>
        <p class="classification">{{ "toxic" if is_toxic(comment) else "nontoxic" }},
            details: {{ render_toxicity(comment) }}
        </p>
        <div class="content json">
            {{ comment.toxicity[version] | tojson_pretty }}
        </div>
        <br>
        <p class="classification">Current labels: 
            {{ render_toxicity_labels(toxic_labels, comment.actual_id) }}
        </p>
        <!-- <br> -->
        {{ render_toxicity_actions(toxic_label_buttons, comment.actual_id) }}
    </div>
{% endfor %}



{% endblock %}

