{# Macro for creating pagination navigation links #}
{% macro render_pagination(pagination, endpoint, what) %}
<table class="table table-borderless">
<tbody>
<tr>
  <td>
    <div class="text-left">
      <div class=pagination>
        {% if pagination.has_prev %}
        <a href="{{ url_for(endpoint, what=what, page=pagination.prev_num) }}">Previous page</a>
        {% endif %}
        <span>&#183;</span>
        {% if pagination.has_next %}
        <a href="{{ url_for(endpoint, what=what, page=pagination.next_num) }}">Next page</a>
        {% endif %}
      </div>
    </div>
  </td>
  <td>
    <div class="text-right">
      Jump to page:
      <div class=pagination>
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <a href="{{ url_for(endpoint, what=what, page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </td>
</tr>
</tbody>
</table>
{% endmacro %}


{% macro render_mysql_labels(tw_labels, tw_user_id) %}
{% if tw_labels %}
{% if tw_labels[tw_user_id]  %}
    {% for tw_label in tw_labels[tw_user_id]  %}
        {% if tw_label.text == "valid" %}
            <span class="label label-default">{{ tw_label.author.username }}</span><span class="label label-success">{{ tw_label.text }}</span>
        {% elif tw_label.text == "invalid" %}
            <span class="label label-default">{{ tw_label.author.username }}</span><span class="label label-danger">{{ tw_label.text }}</span>
        {% else %}
            <span class="label label-default"></span><span class="label label-info">{{ tw_label.text }}</span>
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}
{% endmacro %}


{% macro render_mysql_actions(tw_label_buttons, tw_user_id) %}
{% if tw_label_buttons %}
{% if tw_label_buttons[tw_user_id] %}
    {% for tw_label_button in tw_label_buttons[tw_user_id] %}
        <a href="{{ tw_label_button['url'] }}"><button type="button" class="btn btn-default">{{ tw_label_button['name'] }}</button></a>
    {% endfor %}
{% endif %}
{% endif %}
{% endmacro %}



{% macro round_float(x) %}
{% if x %}
  {{ "{:.2f}".format(x) }}
{% else %}
  {{ "NA" }}
{% endif %}
{% endmacro %}

{% macro render_mini_toxicity(tissue, issueid, version) %}
{% if tissue.toxicity %}
  {% if tissue.toxicity[version] %}
  <span class="fas fa-language"></span> {{ round_float(tissue.toxicity[version].en) }}
  <span>&#183;</span>
  {% if tissue.toxicity[version].orig %}
  <span class="fab fa-google"></span> {{ round_float(tissue.toxicity[version].orig.persp) }}
  <span>&#183;</span>
  <span class="fas fa-angry"></span> {{ round_float(tissue.toxicity[version].orig.polite) }}
  {% else %}
  <span class="fab fa-google"></span> {{ "NA" }}
  <span>&#183;</span>
  <span class="fas fa-angry"></span> {{ "NA" }}
  {% endif %}
  {% endif %}
{% endif %}
{% endmacro %}

{% macro render_toxicity(tissue, issueid, version) %}
<p class="classification">{{ "Predicted toxic" if is_toxic(tissue) else "Predicted nontoxic" }}:
  <p>
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseScores-{{ issueid }}" aria-expanded="false" aria-controls="collapseScores-{{ issueid }}">
      Scores
    </button>
  </p>
  <div class="collapse" id="collapseScores-{{ issueid }}">
    <div class="card card-body">
      {{ render_mini_toxicity(tissue, issueid, version) }}
    </div>
  </div>
    <!--{{ render_mini_toxicity(tissue, issueid, version) }}-->
    {% if tissue.toxicity %}
    {% if tissue.toxicity[version] %}
      <a class="btn btn-link" data-toggle="collapse" href="#collapse-{{ issueid }}" role="button" aria-expanded="false" aria-controls="collapse-{{ issueid }}">Details</a>
    {% endif %}
  {% endif %}
</p>
<div class="content json">
<div class="collapse" id="collapse-{{ issueid }}">
  <div class="card card-body">
      {% if tissue.toxicity %}
      {% if tissue.toxicity[version] %}
        {{ tissue.toxicity[version] | tojson_pretty }}
        <br>
      {% endif %}
      {% endif %}
      {% if tissue.toxicity %}
      {% if tissue.toxicity.manual %}
        {{ tissue.toxicity.manual | tojson_pretty }}
        <br>
      {% endif %}
      {% endif %}
  </div>
</div>
</div>
{% endmacro %}


{% macro render_toxicity_actions(label_buttons, id) %}
<p class="classification">Toxic: "a rude, disrespectful, or unreasonable comment that is likely to make you leave a discussion" (also see <a href="https://docs.github.com/en/github/site-policy/github-community-forum-code-of-conduct#best-practices-for-building-a-strong-community">GitHub Code of Conduct</a>)
<p class="classification">Add prediction labels:
  <br>
{% if label_buttons %}
  {% if label_buttons[id] %}
    {% for label_button in label_buttons[id] %}
        <a href="{{ label_button['url'] }}"><button type="button" class="btn btn-default btn-xs">{{ label_button['name'] }}</button></a>
    {% endfor %}
  {% endif %}
{% endif %}
</p>
</p>
{% endmacro %}


{% macro render_toxicity_labels(toxic_labels, id) %}
{% if toxic_labels %}
{% if toxic_labels[id]  %}
<!--  <p class="classification">Current prediction labels:
    {% for toxic_label in toxic_labels[id]  %}
      {% if toxic_label.label == 'toxic' %}
        <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-danger">{{ toxic_label.label }}</span>
      {% else %}
        <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-info">{{ toxic_label.label }}</span>
      {% endif %}
    {% endfor %}
  </p>
  -->
  <p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsePrediction" aria-expanded="false" aria-controls="collapsePrediction">
      All prediction labels
    </button>
  </p>
  <div class="collapse" id="collapsePrediction">
    <div class="card card-body">
        {% for toxic_label in toxic_labels[id]  %}
          {% if toxic_label.label == 'toxic' %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-danger">{{ toxic_label.label }}</span>
          {% else %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-info">{{ toxic_label.label }}</span>
          {% endif %}
        {% endfor %}
    </div>
  </div>

  <p class="classification">Your prediction labels:
    {% for toxic_label in toxic_labels[id]  %}
      {% if toxic_label.user == current_user.username %}
          {% if toxic_label.label == 'toxic' %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-danger">{{ toxic_label.label }}</span>
          {% else %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-info">{{ toxic_label.label }}</span>
          {% endif %}
      {% endif %}
    {% endfor %}
  </p>
{% endif %}
{% endif %}
{% endmacro %}


{% macro render_qualitative_analysis_codes(toxic_labels, id) %}
{% if toxic_labels %}
{% if toxic_labels[id]  %}
<!--
    <p class="classification">Current description labels:
    {% for toxic_label in toxic_labels[id]  %}
      {% if toxic_label.label == 'toxic' %}
        <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-danger">{{ toxic_label.label }}</span>
      {% else %}
        <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-info">{{ toxic_label.label }}</span>
      {% endif %}
    {% endfor %}
  </p>
  -->
  <p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
      All description labels
    </button>
  </p>
  <div class="collapse" id="collapseDescription">
    <div class="card card-body">
        {% for toxic_label in toxic_labels[id]  %}
          {% if toxic_label.label == 'toxic' %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-danger">{{ toxic_label.label }}</span>
          {% else %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-info">{{ toxic_label.label }}</span>
          {% endif %}
        {% endfor %}
    </div>
  </div>

  <p class="classification">Your description labels:
    {% for toxic_label in toxic_labels[id]  %}
      {% if toxic_label.user == current_user.username %}
          {% if toxic_label.label == 'toxic' %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-danger">{{ toxic_label.label }}</span>
          {% else %}
            <span class="label label-default">{{ toxic_label.user }}</span><span class="label label-info">{{ toxic_label.label }}</span>
          {% endif %}
      {% endif %}
    {% endfor %}
  </p>
{% endif %}
{% endif %}
{% endmacro %}


{% macro render_post_body(post) %}
<div  class="content {{ "toxic" if is_toxic(post) else "nontoxic" }}">
  <blockquote class="blockquote {{ "toxic" if is_toxic(post) else "nontoxic" }}">
      {{ post.body|markdown }}
  </blockquote>
</div>
{% endmacro %}


{% macro render_issue_header(issue, post_type) %}
<h4>
    <a href="https://github.com/{{ issue.owner }}/{{ issue.repo }}/issues/{{ issue.number }}">{{"Issue" if post_type=="issue" else "Comment"}} {{ issue['_id'] }}</a>,
    {{ issue.updated_at }},
    by <a href="{{ issue.user.html_url }}">{{ issue.user.login }}</a> [{{ issue.author_association }}]:
</h4>
{% endmacro %}


{% macro render_coding_actions(form, post_id, post_type, label_buttons) %}
<p class="classification">Add reason for toxicity:
  <a href="https://docs.github.com/en/github/site-policy/github-community-forum-code-of-conduct#best-practices-for-building-a-strong-community">(descriptions)</a>
  <br>
  {% if label_buttons %}
  {% if label_buttons[post_id] %}
    {% for label_button in label_buttons[post_id] %}
        <a href="{{ label_button['url'] }}"><button type="button" class="btn btn-default btn-xs">{{ label_button['name'] }}</button></a>
    {% endfor %}
  {% endif %}
{% endif %}
<div class="formwrapper">
  <form method="POST">
    {{ form.csrf_token() }}
    {{ form.element_id(value=post_id) }}
    {{ form.element_type(value=post_type) }}
    {{ form.element_label() }}
    {{ form.submit() }}
  </form>
</div>
</p>
{% endmacro %}


{% macro render_post(post_id, post_type, post_object, toxic_post_object, toxic_labels, toxic_label_buttons, qualitative_labels, qualitative_label_buttons, version, form) %}
<div class="row">
  <hr class="mt-3 mb-3"/>
  <div class="col-xs-8">
    {{ render_issue_header(post_object, post_type) }}
    <div  class="content {{ "toxic" if is_toxic(toxic_post_object) else "nontoxic" }}">
      <blockquote class="blockquote {{ "toxic" if is_toxic(toxic_post_object) else "nontoxic" }}">
        {% if post_type == "issue" %}
          <h4>{{ post_object.title }}</h4>
        {% endif %}
        {{ post_object.body|markdown }}
      </blockquote>
    </div>
    {{ render_toxicity(toxic_post_object, post_id, version) }}
    {{ render_toxicity_labels(toxic_labels, post_id) }}
    {{ render_qualitative_analysis_codes(qualitative_labels, post_id) }}
  </div>

  <div class="col-xs-4">
    {{ render_toxicity_actions(toxic_label_buttons, post_id) }}
    <br>
    {{ render_coding_actions(form, post_id, post_type, qualitative_label_buttons) }}
    <br>
  </div>
</div>
{% endmacro %}


{# Macro for creating page number navigation links #}
{% macro render_jump_to_page(pagination, endpoint) %}
<div class="pagination-prevnext">
    <div class="text-right">
      Jump to page:
      <div class=pagination>
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
      </div>
    </div>
</div>
{% endmacro %}


{# Macro for creating prev & next page navigation links #}
{% macro render_prev_next_page(prev_url, next_url) %}
<div class="pagination-prevnext">
    <ul class="list-inline">
        {% if prev_url %}
        <li>
        <a href="{{ prev_url }}">Previous page</a>
        </li>
        {% endif %}
        {% if next_url %}
        <li class="footer-menu-divider">⋅</li>
        <li>
        <a href="{{ next_url }}">Next page</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endmacro %}
