{% extends "base.html" %}

{% from "macros.html" import render_post with context %}

{% block content %}

<div class="container">

    <div class="center">
        {{ pagination.links }}
    </div>
        
    {% for tissue in tissues %}
        {% set issueid = tissue['_id']|string %}
        {% set issue = issues[issueid] %}

        <h3><span class="fab fa-github"></span>
            <a href="https://github.com/{{ issue.owner }}/{{ issue.repo }}/issues/{{ issue.number }}">{{ issue.owner }}/{{ issue.repo }} #{{ issue.number }}</a>
        </h3>
          
        {{ render_post(task_type, definition, issueid, "issue", issue, tissue, toxic_labels, toxic_label_buttons, qualitative_labels, qualitative_label_buttons, version, form) }}
        
        {% for comment in comments[issueid] %}
            {% set commentid = comment['_id']|string %}
            {{ render_post(task_type, definition, commentid, "comment", comment, comment, toxic_labels, toxic_label_buttons, qualitative_labels, qualitative_label_buttons, version, form) }}
        {% endfor %}

    {% endfor %}

    <div class="center">
        {{ pagination.links }}
    </div>
    
</div>


{% endblock %}

