{% extends "base.html" %}

{% block content %}

<div class="center">
    {{ pagination.links }}

    <h3>{{ title }}</h3>
    
    <table class="table table-borderless table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Issue id</th>
            <th>Updated at</th>
          </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>
                    <a href="/issue/{{ issue['_id'] }}">{{ issue['_id'] }}</a> 
                </td>
                <td>
                    {{ issue.updated_at }}
                </td>
                <td>
                    {% if issue.manual %}
                        {{ issue.manual.reason }}
                    {% endif %}
                </td>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

